body {
    background-image: url("../img/geometry.png");
}
a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.post-preview {
    margin-top: 20px;
}
.post-thumbnail {
    width: 100%;
    height: auto;
}